<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gris">
        <main class="flex justify-center items-center h-screen">
            <div class="flex flex-col items-center">
                <p class="underline font-bold text-5xl italic">401</p>
                <p class="underline font-bold text-5xl italic">Accès non autorisé</p>
            </div>
        </main>
    </body>
</html>
